{% extends "base.html" %}
{% load static %}

    {% block css_link %}
        <link rel="stylesheet" href="{% static "challenges/challenges.css" %}"/>
        <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}"/>
    {% endblock %}

    {% block page_title %}
        {{ month | title }}'s challenge
    {% endblock %}

    {% block content %}

        {% include "challenges/includes/header.html" with activePage="challenge" %}

        <div class = "container">

            <h1> {{ month | title }}'s challenge </h1>

            {% if text is not None %}
                <h3 class = "text">{{ text }}</h3>   
            {% else %}
                <p class = "text"> No Challenge added for this month</p>
            {% endif %} 

        </div>

    {% endblock %}
